main {
  padding: 16px;
}

section.articles {
}
section.articles > article {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
section.articles > article > div.content {
  flex: 7;
}
section.articles > article > div.content > h2 {
  color: #009688;
}
section.articles > article > div.content > p {
  font-size: 15px;
}
section.articles > article > div.ads {
  flex: 3;
}
section.articles > article > div.ads > div.ad {
  border: 1px solid #cccccc;
  text-align: center;
}
section.articles > article > div.ads > div.smallAd {
  padding: 32px 16px;
  margin-bottom: 16px;
}
section.articles > article > div.ads > div.bigAd {
  padding: 64px 16px;
}
