body {
  display: grid;
  grid-template-areas:
    'HEADER HEADER'
    'VERTICALNAV MAIN'
    'VERTICALNAV FOOTER';
  grid-template-columns: 250px auto;
}

header {
  grid-area: HEADER;
}

nav.verticalNav {
  grid-area: VERTICALNAV;
}

main {
  grid-area: MAIN;
}

footer {
  grid-area: FOOTER;
}

@media (max-width: 1000px) {
  body {
    grid-template-areas:
      'HEADER'
      'VERTICALNAV'
      'MAIN'
      'FOOTER';
    grid-template-columns: auto;
  }
}

@media (max-width: 700px) {
  section.articles > article {
    flex-direction: column;
  }
}
