nav.pagesNav {
  display: flex;
  gap: 4px;
  justify-content: center;
}
nav.pagesNav > a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: #000000;
  font-size: 18px;
}
nav.pagesNav > a:hover {
  background-color: #000000;
  color: #ffffff;
}
